<configuration>
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>logs/mylogfile.log</file> <!-- Path to your log file -->
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="fileAppender" />
    </root>
</configuration>
