.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #000000;
  }
  
  .logo img {
    width: 70px;
    height: 50px;
    margin-right: 10px;
  }
  
  .name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: black;
  }
  
  .nav-links li a:hover {
    color: black;
  }
  
