/* BookInventory.css */
.book-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ad5c33; 
    color: #333; 
  }

   
  .book-inventory-logo img {
    height: 50px;

  }
   
  .book-inventory-explore button {
    padding: 14px 30px;
    background-color: #013236;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
  }
   
  .book-inventory-explore button:hover {
    background-color: #fcfafa;
    color: #013236;
  }
   
  
  .book-inventory-heading {
    font-size: 40px;
    margin-top: 100px;
    padding-left: 50px; 
    font-family: 'Bree Serif', serif; 
  }
  
  
  .name {
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    color: white;
   
  }